*{
    padding: 0;
    margin: 0;
}
.titulo {
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: auto;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}
.je {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    display: block;
    margin: auto;
    border: 2px solid black;
}
.botao{
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}
#cabecalho{
    background-color: #c7c5c5;
    padding: 30px;
}
#botao2{
    padding: 5px;
    margin: 5px;
}
#jezin{
    padding: 5px;
    margin: 5px;
}
#jeimg{
    padding: 15px;
    margin-top: 15px;
}
body{
    background-color: rgb(142, 142, 150);
}